name: Squawk at a given time

on:
  schedule:
    - cron: 32 * 20 * *
  workflow_dispatch:

jobs:
  squawk:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "squawking from ${{ github.ref }}"
          date
